/*var to change gridSize in gridContainer*/
:root{
    --gridSize: repeat(16,50px);
}

#title{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

body{
    margin: 0;
    background-color: orange;
}


#gridContainer{

    display: grid;
    grid-template-columns: var(--gridSize);
    justify-content: center;
    margin-top: 200px;
    
    
}

#gridContainer div{
    
    height:50px;
    width: 50px;
    
    background-color: lightgrey;
    border: 1px solid grey;
}

#buttonContainer{
    display:flex;
    justify-content: center;
    position :relative;
    top:150px;

}